<section id="candidates">
    <div class="container middle">
        <div class="row">
            <div class="container col-12 col-sm-6">
                <h1 style="font-size: 350%;" >Vea La Lista de Todos los <strong>Candidatos</strong> 2019!!</h1>
            </div>
            <div class="container col-12 col-sm-6">
                <ngb-carousel *ngIf="partyService.parties.length > 0">
                    <ng-template *ngFor="let party of partyService.parties" ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="{{ party.icon }}" alt="Random first slide" width="100%" height="300">
                        </div>
                        <div class="carousel-caption">
                            <a href="{{ party.pdf }}" class="btn btn-info download" target="_blank">
                                <span class="fa fa-eye"></span> {{ party.acronym.split(",")[0] }}
                            </a>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</section>
<hr>