<!-- <nav class="navbar navbar-light navbar-expand-lg" style="background-color: blue;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    Navbar content
    <a class="navbar-brand" href="#voters"><i class="fa fa-ticket"></i>Votantes</a>
    <a class="navbar-brand" href="#candidates"><i class="fa fa-users"></i>Candidatos</a>
    <a class="navbar-brand" href="#results"><span class="fa fa-bar-chart"></span> Resultados</a>
</nav> -->
<!-- <nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#logo">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#results">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#voters">Pricing</a>
            </li>
        </ul>
    </div>
    <script>
        function changeClassName(name) {
            const item = document.getele
        }
    </script>
</nav> -->

<nav class="navbar navbar-expand-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="fa fa-home"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars" style="color: white;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="container">
                        <a class="nav-link active" href="#voters"><i class="fa fa-ticket"></i> Votantes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="container">
                        <a class="nav-link" href="#candidates"><i class="fa fa-users"></i> Candidatos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="container">
                        <a class="nav-link" href="#results"><i class="fa fa-bar-chart"></i> Resultados</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<app-logo></app-logo>
<app-voters></app-voters>
<app-candidates></app-candidates>
<app-results></app-results>
<router-outlet></router-outlet>