.logo-section {
  margin-top: 55px;
}

.center {
  padding-top: 10%;
  padding-left: 10%;
}

h1 {
    transition: ease-in-out;
}

#canvas {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
