.logo-section {
  margin-top: 55px;
}

h1 {
    transition: ease-in-out;
    font-size: 550%;
}

#canvas {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding-left: 15%;
}
