<section id="voters">
    <div class="container">
        <div class="row">
            <div class="container col-12 col-sm-6">
                <img id="gif" src="assets/bolivia.gif" alt="gif">
            </div>
            <div class="container col-12 col-sm-6 center">
                <h1 style="font-size: 330%;">Registro de Todos los votantes de
                    <strong style="color: red;">BO</strong>
                    <strong style="color: yellow;">LI</strong>
                    <strong style="color: green;">VIA</strong>!!
                </h1>
                <h2>Total <strong>{{ voterService.count }}</strong> votantes</h2>
                <a href="{{ downloadService.voters_XLS_url() }}" class="btn btn-outline-info download" target="_blank"><span
                    class="fa fa-cloud-download"> Obtener Lista de votantes</span>
                </a>
            </div>
        </div>
    </div>
</section>
<hr>