<section id="voters" style="background-color: chartreuse;">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Registro de Todos los votantes del País</h1>
                <h2>Total 3 000 000 votantes</h2>
                <button><span class="fa fa-cloud-download"></span>Obtener Lista de votantes</button>
            </div>
            <!-- <div class="map-img"> -->
            <img src="assets/bolivia-map.png" alt="img">
            <!-- </div> -->
        </div>
    </div>
</section>