#results {
  /* background-color: #eeeeee; */
  padding: 0 0;
  margin: 0 0;
}

div {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

.form {
  display: contents;
  align-items: center;
}